#extra-show-section {
    padding: 130px 0 ;
}
#extra-show-section .breadcrumbs  {
    position: relative;
    left: 21px;
    
}

#extra-show-section .breadcrumbs a {
    padding: 0 5px;
}
#extra-show-section .inside {
    grid-template-columns: 1fr 2fr;
    position: relative;
    top: 20px;
    max-width: 1400px;
    grid-gap: 0 12px;
    margin: 0 auto; 
    display: grid;
    width: 1400px; 
}

#extra-show-section .inside .extra-img img {
   max-width: 800px;
}

#extra-show-section .inside .show-info .brand {
    font-size: 1.5rem;

    
}
#extra-show-section .inside .show-info .name {
    font-size: 1.2rem;

    
}

#extra-show-section .inside .show-info .price {
    font-size: 1.2rem;
    color:  rgb(164, 29, 35);

    
}

#extra-show-section .inside .show-info input[type="number"] {
 
    border-radius: 7px;
    border: 1px solid rgba(0, 0,0 ,0.2);
    padding: 4px;
    outline: none;
    position: relative;
    display: block;
    margin: 20px;
    
   }


#extra-show-section .inside .show-info .select  {
  text-align:center;
  margin: 2px 0 0 0;
     
 }

#extra-show-section .inside .show-info .select select {
   background:  rgb(164, 29, 35);
   margin: 0 auto;
    width: 300px;
    height: 40px;
    color: #fff;
    outline: none;

    
}

#extra-show-section .inside .show-info .select button {

    position: relative;
    outline: none;
    background: #f8f8f8;
    color:  rgb(164, 29, 35);
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 300px;
    height: 40px;
    top: 10px;
    
 
 
     
 }

#extra-show-section .inside .show-info .hr {
    position: relative;
    top: 20px;

 
     
 }


#extra-show-section .inside .show-info .details {
    position: relative;
    top: 25px;
      
 }