



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');
@import './header.css';
@import './banner.css';
@import './newArrivals.css';
@import './apparel-extras.css';
@import './apparel.css';
@import './newsletter.css';
@import './footer.css';
@import './show.css';
@import './allshoes.css';
@import './apparel-show.css';
@import './cart.css';
@import './extras-show.css';
@import './mobil.css';





/* Global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html  {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: Raleway , 'Times New Roman', Times, serif;
  
    color: #1e1e1e;
    line-height: 1.4
}

a {
    text-decoration: none;
    color: #1e1e1e;
    
}
li {
    
    list-style: none;
}


/* MEDIA QUERIES */


@media only screen and (max-width: 767px) {
    header .inside .header-title-cart h1 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    header .inside .header-title-cart {
        grid-template-columns: 1fr 3fr 1fr;
        justify-items: center;
        display: grid;
    }

    header .inside .header-title-cart .menu {
        display: block;
 
    }


.header-nav {
  display: none;
}

header .hr {
    display: none;
}
}